@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globals */

.site-header-cart .cart-contents {
    @apply text-gray-300 hover:text-gray-100;
}

body,
.secondary-navigation a,
h1, h2, h3, h4, h5, h6, .wc-block-grid__product-title {
    @apply text-gray-900;
}

h1, h2, h3, h4, h5, h6, .wc-block-grid__product-title {
    @apply font-bold;
}

input[type=text], input[type=number], input[type=email], input[type=tel], input[type=url], input[type=password], input[type=search], textarea, .input-text {
    @apply block rounded-md flex-1 border-0 shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6;
}

.site .storefront-breadcrumb {
    @apply mb-4;
}

/* Navigation / Header */

.custom-logo-link {
    max-height: 50px;
    margin-bottom: 0;
}

.custom-logo-link img {
    @apply h-full w-full object-cover object-center;
    max-height: 50px;
}

nav #desktop-menu > ul,
nav ul#desktop-menu {
    @apply flex space-x-4;
}

nav #desktop-menu > ul > li,
nav ul#desktop-menu > li {
    @apply text-gray-300 hover:bg-gray-900 hover:text-white rounded-md px-3 py-2 text-sm font-medium ml-1 lg:ml-5 relative;
}

nav #desktop-menu > ul > li.current_page_item,
nav ul#desktop-menu > li.current_page_item {
    @apply bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium ml-1 lg:ml-5;
}

nav #desktop-menu > ul > li.menu-item-has-children .sub-menu,
nav ul#desktop-menu > li.menu-item-has-children .sub-menu {
    @apply hidden absolute bg-gray-900 p-3 z-10 m-0 top-full left-0;
}

nav #desktop-menu > ul > li.menu-item-has-children .sub-menu li,
nav ul#desktop-menu > li.menu-item-has-children .sub-menu li {
    @apply text-gray-300 hover:bg-gray-900 hover:text-white rounded-md px-3 py-2;
}

nav #desktop-menu > ul > li.menu-item-has-children:hover .sub-menu,
nav ul#desktop-menu > li.menu-item-has-children:hover .sub-menu {
    @apply block;
}

nav #mobile-menu > ul,
nav ul#mobile-menu {
    @apply space-y-1 px-2 pb-3 pt-2;
}

nav #mobile-menu > ul > li,
nav ul#mobile-menu > li,
nav ul#mobile-menu > li .sub-menu > li {
    @apply text-gray-300 hover:bg-gray-900 hover:text-white block rounded-md px-3 py-2 text-base font-medium !m-0;
}

nav #mobile-menu > ul > li.current_page_item,
nav ul#mobile-menu > li.current_page_item {
    @apply bg-gray-950 text-white block rounded-md px-3 py-2 text-base font-medium;
}

nav ul#mobile-menu > li .sub-menu {
    @apply m-0;
}

.site-header-cart:hover .widget_shopping_cart,
.site-header-cart.focus .widget_shopping_cart {
    width: 250px;
    left: -130px !important;
}

#secondary-menu li > a {
    @apply hover:bg-gray-900 hover:text-white;
}


/* Home */

.entry-content .wp-block-cover.alignfull,
.home.storefront-align-wide.page-template-template-fullwidth .hentry .entry-content>.wp-block-cover.alignfull, .home.storefront-align-wide.page-template-template-fullwidth .hentry .entry-content>.wp-block-image.alignfull {
    @apply mt-0;
}

/* Search */

.product-search .widget,
.product-search .widget form {
    @apply p-0 m-0;
}

.product-search .widget form input,
.widget_search form:not(.wp-block-search) input[type=text], .widget_search form:not(.wp-block-search) input[type=search], .widget_product_search form:not(.wp-block-search) input[type=text], .widget_product_search form:not(.wp-block-search) input[type=search] {
    @apply block bg-white transition-all w-full rounded-md border-0 py-0.5 pl-8 pr-0 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}

.product-search .widget_search form:not(.wp-block-search)::before, .widget_product_search form:not(.wp-block-search)::before {
    left: 7px;
    top: 7px;
}

/* Products */

.wc-block-grid__product-onsale, .onsale,
.wc-block-grid .wc-block-grid__product-onsale, .wc-block-grid__product-image .wc-block-grid__product-onsale {
    @apply !bg-indigo-700 !text-white !border-0 !leading-4;
}

.wc-block-grid .wc-block-grid__product-onsale, .wc-block-grid__product-image .wc-block-grid__product-onsale

.product_title.entry-title,
.woocommerce-products-header__title.page-title {
    @apply text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl;
}

h2.wp-block-heading {
    @apply text-2xl font-bold tracking-tight text-gray-900 m-6 ml-0;
}

.woocommerce-LoopProduct-link.woocommerce-loop-product__link,
.wc-block-grid__product-link {
    @apply hover:opacity-75;
}

img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail,
.product-category > a > img {
    @apply rounded-md h-full w-full object-cover object-center lg:h-full lg:w-full;
}

.woocommerce-loop-product__title {
    @apply text-sm text-gray-700
}

.woocommerce-Price-amount.amount bdi {
    @apply text-sm font-medium text-gray-900;
}

/* CTAS */
.add_to_cart_button,
.hentry .entry-content .wp-block-button .wp-block-button__link,
.editor-styles-wrapper .wp-block-button .wp-block-button__link,
button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt, .button.alt, .widget-area .widget a.button.alt,
button, input[type="button"], input[type="reset"], input[type="submit"], .button, .widget a.button,
.wc-block-components-button:not(.is-link),
.wp-block-search__button {
    @apply rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-700 hover:text-white hover:scale-110 transition-all focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white;
}

.editor-styles-wrapper table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link, table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link {
    @apply !text-indigo-600 hover:text-indigo-700;
}

/* Cart */

.woocommerce .wc-block-components-notice-banner {
    @apply drop-shadow-md rounded-md border-gray-400 bg-white;
}

.woocommerce .wc-block-components-notice-banner.is-success {
    @apply border-green-600 bg-white;
}

.single-product.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    @apply mr-4 w-16;
}

.storefront-handheld-footer-bar ul li {
    @apply text-indigo-700;
}

.woocommerce-mini-cart__buttons.buttons {
    @apply !p-5;
}


/* Footer Menu */

.footer-navigation li {
    @apply inline-block text-gray-300 hover:text-gray-100 px-3 py-2;
}